<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  	<handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Slim" patternSyntax="Wildcard">
            <match url="*" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <add value="app.js" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>